<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hbs</title>
    <link rel="stylesheet" href="../css/style.css">

    <style>

          *{padding: 0;
        margin: 0;

        }


        nav{

            background-color: black;
            width: 100%;
            height: 13vh;
        }


          ul{

              display: flex;
              align-items: center;

          }
        ul>li{

            list-style: none;
            padding: 0px 10px;
            color: #fff;
            cursor: pointer;
        }
    </style>
</head>


<body>


{{>header}}
    <div class="div">


    
    <h1>this is the dynamic contents</h1>
    <p style="max-width: 50%; text-align: center; margin: auto;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, necessitatibus! Impedit repellendus optio nesciunt voluptates rem, iure atque perferendis omnis fugiat doloribus repudiandae quos eos porro ut eaque dignissimos voluptatibus quam pariatur repellat adipisci nostrum, laborum ab molestiae dicta! Dolorum laboriosam recusandae dolores cumque, impedit exercitationem. Rem magnam ex numquam accusamus vitae reprehenderit, laborum tenetur veritatis aliquam alias accusantium ea maxime maiores vero? Quis corrupti sit quasi odit rem harum, velit, alias quia architecto recusandae eius, eum delectus asperiores amet.</p>
    <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h1>


</div>

{{>fotter}}
</body>
</html>