<style>


    *{
        padding: 0;
        margin: 0;
    }

    .footer-text{

        height:10vh;
        padding: 10px;
        background-color: rgb(46, 46, 46);
        display:flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        line-height: 2px;
        letter-spacing: 1px;
    }
</style>




<div class="fotter">
<h2 style="" class="footer-text">this is fotter</h2>
</div>
