
<style>


    nav{

        display: flex;
        justify-content: space-between;
        margin: auto;
        padding: 0px 50px;
        height: 10vh;
        background-color: rgb(48, 62, 69);
        color: aliceblue;
        align-items: center;
    }


    ul{

        display: flex;

    }

    ul>li{

        list-style-type: none;
        padding: 10px;
        font-size: 18px;
        color: #fff;
       transition: all 0.5s linear;
       cursor: pointer;
    }

    ul>li:hover{

        color: rgb(13, 241, 241);
         cursor: pointer;
        
    }
</style>






<nav class="navbar">


  <div class="logo">

      <h1>It garage</h1>
  </div>

    <ul>
         <li>home</li>
         <li>weather</li>
         <li>about us</li>
        
    </ul>
</nav>