{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div class="fotter">


    <div class="left">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem maiores minima rem eos sed et assumenda minus fuga ratione, dolor aliquam repellat modi facere, hic error ex! Eligendi, iusto blanditiis?

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt voluptatum totam corporis aliquam molestiae ullam facilis, distinctio, amet ut aperiam at consectetur, magnam recusandae harum nobis autem quos asperiores. Rem consectetur quia accusantium, quaerat minus aspernatur ipsa nobis consequatur harum, iure et omnis labore eius molestiae? Incidunt molestias delectus ullam itaque fugiat officia vero. Nulla doloremque consequuntur magnam quia eius. Qui aut accusantium mollitia deserunt aliquam dicta rem at accusamus possimus perferendis voluptatibus veritatis, totam sapiente necessitatibus quisquam eos cumque ratione maiores molestiae nihil minima quam minus ipsam molestias! Ipsum.</p>
    </div>

    <div class="right">

        this is right
    </div>
</div>
</body>
</html>
 --}}




<div class="fotter" style="display: flex; justify-content: center;">

    <h3>footter 


        <h1>this is the footer of the years</h1>
    </h3>
</div>