
    <style>

        nav{

            background-color: black;
            width: 100%;
            height: 13vh;
        }


          ul{

              display: flex;
              align-items: center;

          }
        ul>li{

            list-style: none;
            padding: 0px 10px;
            color: #fff;
            cursor: pointer;
        }
    </style>


<nav>

    <ul >
        <li>bibek</li>
        <li>bibek</li>
        <li>bibek</li>
          <li>{{status}}</li>
         
        </ul>

     
</nav>